@import url("https://fonts.googleapis.com/css2?family=Poppins:300,400,500,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Balsamiq Sans", sans-serif;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.fadeIn {
  -webkit-animation-name: fadein;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeout;
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
